* {
  margin: 0px;
}
.btn-each-image-li {
  border: 0px solid;
  background-color: transparent;
}
.each-thumb-image {
  width: 156px;
  height: 160px;
}

@media (max-width: 576px) {
  .each-thumb-image {
    width: 100px;
    height: 100px;
  }
}
